
@{
	ViewBag.Title = "SubscribeToVkGroup";
}
<div class="text-center">
	@Html.ActionLink("Pikabu", "RssPublications")
	@Html.ActionLink("TuTBy", "RssTutBy")
	<h2>SubscribeToVkGroup</h2>
	<form method="post" action="SetGroups">
		<div class="form-check">
			@foreach (var element in ViewBag.groups)
			{
				<input type="checkbox" name="@element.Key" value="@element.Key" />@element.Value
			}
		</div>
		<br/>
		<input type="submit" class="btn" name="Submit" />
	</form>
</div>